<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-center">Agenda web</h2>

            {{!-- FORMULARIO --}}
            <div>
                <form id="age_form" action="/form" method="post">
                    <div class="m-2">
                        <label class="form-label">Name</label>
                        <input name="name" class="form-control" value="{{ name }}"/>
                    </div>

                    <div class="m-2">
                        <label class="form-label">Apellido</label>
                        <input name="lastname" class="form-control"value="{{ lastname }}" />
                    </div>

                    {{!-- <div class="m-2">
                        <label class="form-label">Number of Years</label>
                        <input name="years" class="form-control" value="{{ years }}" />
                    </div> --}}

                    <div class="m-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>

        {{!-- HISTORIAL DE REGISTROS ES UNA PLATILLA PARCIAL --}}
        <div class="col-12 m-2">
            {{> history }}
        </div>
    </div>
</div>