{{!-- La plantilla contiene un formulario para enviar un nombre de usuario y 
una contraseña a la aplicación, junto con un mensaje de error que 
está oculto de manera predeterminada, pero que se mostrará 
si el usuario proporciona credenciales no válidas. --}}

{{#if failed}}
    <h4 class="bg-danger text-white p-2 text-cener">
        {{!-- Authentication failed. Please try again. --}}
        Datos incorrectos. Intentalo de nuevo
    </h4>
{{/if}}


<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <h3>Iniciar Sesion</h3>
        <form method="post">
            <div class="m-2">
                <label class="from-label">Nombre</label>
                <input name="username" class="form-control" value="{{username}}">
            </div>

            <div class="m-2">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" value="{{password}}">
            </div>

            <button type="submit" class="btn btn-primary mx-2">Iniciar Sesion</button>
        </form>

    </div>
    <div class="col-lg-4"></div>
</div>